input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.7rem;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  padding: 0.7rem;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #1e40af;
}
